Develop a web application using Node-RED services/Develop the web application using Node-RED/flows.json
[{"id":"60d50f4d98746586","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"a917044b98d9e291","type":"ibmiot in","z":"60d50f4d98746586","authentication":"apiKey","apiKey":"a41955e00cfcba2e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Sivamadhavanece","applicationId":"","deviceType":"Sivamadhavan23","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":160,"wires":[["98349bb2bd4fda5f","9822fcc6a3803e38","ebbb3fc43b1578ee"]]},{"id":"98349bb2bd4fda5f","type":"debug","z":"60d50f4d98746586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"4c6e1399d3d1f7be","type":"ui_gauge","z":"60d50f4d98746586","name":"","group":"d43468dbecbbaa6b","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":220,"wires":[]},{"id":"9822fcc6a3803e38","type":"function","z":"60d50f4d98746586","name":"Temperature Node","func":"msg.payload=msg.payload.Temperature\nglobal.set('T',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":260,"wires":[["4c6e1399d3d1f7be","98349bb2bd4fda5f"]]},{"id":"ebbb3fc43b1578ee","type":"function","z":"60d50f4d98746586","name":"Humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('H',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":360,"wires":[["9a4420a169a73b25","98349bb2bd4fda5f"]]},{"id":"9a4420a169a73b25","type":"ui_gauge","z":"60d50f4d98746586","name":"","group":"d43468dbecbbaa6b","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":360,"wires":[]},{"id":"11c7c3bd08aa964e","type":"ui_button","z":"60d50f4d98746586","name":"","group":"d43468dbecbbaa6b","order":2,"width":0,"height":0,"passthru":false,"label":"Light on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":260,"y":580,"wires":[["444bb06b335729e5","34937e7b28feee68"]]},{"id":"444bb06b335729e5","type":"debug","z":"60d50f4d98746586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":580,"wires":[]},{"id":"4b98dd3761ff7675","type":"ui_button","z":"60d50f4d98746586","name":"","group":"d43468dbecbbaa6b","order":3,"width":0,"height":0,"passthru":false,"label":"Light off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":240,"y":660,"wires":[["444bb06b335729e5","34937e7b28feee68"]]},{"id":"34937e7b28feee68","type":"ibmiot out","z":"60d50f4d98746586","authentication":"apiKey","apiKey":"a41955e00cfcba2e","outputType":"cmd","deviceId":"Sivamadhavanece","deviceType":"Sivamadhavan23","eventCommandType":"command","format":"String","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":680,"wires":[]},{"id":"f767a23510164a7f","type":"http in","z":"60d50f4d98746586","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":90,"y":900,"wires":[["c2e4fa395c4597d3"]]},{"id":"d206aa08812a8930","type":"http response","z":"60d50f4d98746586","name":"","statusCode":"","headers":{},"x":630,"y":940,"wires":[]},{"id":"c2e4fa395c4597d3","type":"function","z":"60d50f4d98746586","name":"httpfunctionnode","func":"\nmsg.payload={\"Temp\":global.get(\"T\"),\"Humid\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":980,"wires":[["d206aa08812a8930"]]},{"id":"1602fba9a040f707","type":"http in","z":"60d50f4d98746586","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":210,"y":760,"wires":[["c8f4e175cb2a9453","444bb06b335729e5","34937e7b28feee68"]]},{"id":"c8f4e175cb2a9453","type":"http response","z":"60d50f4d98746586","name":"","statusCode":"","headers":{},"x":710,"y":780,"wires":[]},{"id":"5351903a498352b6","type":"function","z":"60d50f4d98746586","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":840,"wires":[[]]},{"id":"a41955e00cfcba2e","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d43468dbecbbaa6b","type":"ui_group","name":"Monitoring","tab":"4730c4f53f6218ba","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4730c4f53f6218ba","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false}]